.home{
    background-image: url('../images/flag-shot.png');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    
    
    
    
    height: 140vh;
    
    
}


/*padding-top: 800px;
    margin: 0px;*/

